body{
    overflow: hidden;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 0;
    background-color: aqua;
    color: beige;
    width: 100%;
}
#menu-item{
    display: flex;
    justify-content: space-between;
  align-items: center; 
    gap: 90px;

}

div ul li{
    list-style: none;
    text-decoration: none;
}


.aside{
    display: flex;
    flex-wrap: wrap;
}

.div1,.div2,.div3,.div4{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin: 10px;
}

footer{
    height: 50px;
    width: 100%;
    background-color: aqua;
    position: absolute;
    bottom: 0;
} 

body{
    background-color: brown;
}



@media screen and (max-width:800px) {
    body {
      background-color: blue;
    }
    .menu{
    background-color: darkmagenta;
    flex-direction: row;
    }
    .div1,.div2,.div3,.div4{
        flex-direction: row;
    }
    #menu-item{
        
    flex-direction: column;
    }
  }