@using ETrade.Data.Models.Entites
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
<header>
    <div class="container py-2">
        <h1>Eticaret Sitesi Demo</h1>
        <p class="col-md-8 fs-4">
            Lorem Ipsum, kısaca Lipsum, masaüstü yayıncılık ve basın yayın sektöründe kullanılan taklit yazı bloğu olarak tanımlanır. Lipsum, oluşturulacak şablon ve taslaklarda içerik yerine geçerek yazı bloğunu doldurmak için kullanılır
        </p>
    </div>
</header>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @Html.Partial("_ProductList",Model)
</div>
